@font-face {
  font-family: Equinox;
  src: url("./fonts/Equinox-Typeface/Equinox_Typeface_Dfonts.org/Equinox\ Bold.otf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  overflow-x: hidden;
}
#land h1 , h4{
  font-family: Equinox;
}
#land #name{
  background: linear-gradient(to right , #B074D8 ,#EE8B90);
  color: transparent;
 -webkit-background-clip: text;
 text-shadow: 0 0 100px rgba(255, 0, 0, 0.514);
 animation : anime 1s infinite alternate;
}

@keyframes anime{
  100%{
    text-shadow: 0 0 60px rgba(25, 0, 255, 0.514);
  }
}
.arrow{
 
  margin: 0 1em;
  height: 50px;
  color: white;
  transform: rotate(180deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}


.arrow.active {
  transform: rotate(0deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

#work h1{
  font-family: Equinox;
}
._canvas_container {
  z-index: 99999 !important; 
  pointer-events: none;
}

#name{
  mix-blend-mode: color-dodge
  
}
#logo1{
  opacity: 0;
}

#gojo{
  
  animation: gojo 5s infinite ease-in-out;
}

@keyframes gojo{
  0% {
    transform: translateY(0);
    
  }
  50% {
    transform: translateY(15px);
    
  }
  100% {
    transform: translateY(0);
    
  }
}


